html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background:white;
}
.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background:white;
    box-sizing: border-box;
    box-shadow: black;
    border-radius: 10px;
    
}
.login-box h1{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;

}
.login-box .user-box{
    position: relative;
}
.login-box .user-box input{

    width: 300px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    border-bottom: 1px solid#fff;
    outline:none;
    background: transparent;
}
.login-box .user-box label{
    top: 0;
    left:0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.login-box .user-box input:focus~label,
.login-box .user-box:valid~label{
    top: -20px;
    left: 0;
    color: white;
    font-size: 12px;
}

.login-box form a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
}
.login-box a span{
    position: absolute;
    display: block;
}
.login-box a:hover{
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px  #03e9f4,
                         #03e9f4,
                         #03e9f4,
                         #03e9f4;
}
.login-box a span{
    position: absolute;
    display: block;
}
.head-wrapper{
    text-align: center;
    font-size: 20px;

#headtwo{
   padding-right: 500px;
}
    
}