*{
    margin: 0;
    padding:0;
}
.identification{
  padding-top: 20px;
}
.wrapper{
    width: 1170px;
    margin: auto;

}
.nav-area{
    float: right;
    list-style: none;
    margin-top: 45px;
    padding-right: 100px;
}
.nav-area li a{
    color:white;
    text-decoration:dotted;
    padding: 5px 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;

}
.nav-area li a:hover{
    background:white;
    color: #333333;
}
#logo{
    width: 100px;
    height: auto;
    float: left;
    list-style: none;
    margin-top: 30px;
    margin-left: 100px;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.head-wrapper{
    background:rgb(165, 59, 59);
    height: 120px;

}

section{
  display: flex;
  flex-direction: column;
  background-color:white;
  margin-left: 120px;
  padding-top: 50px;

    
}
#psp1{
    margin-top: 50px;
    padding-left: 10px;
}

#Biodata{
    font-size: 15px;
    padding-left: 10px;
    
    
    
}
#data{
    list-style-type:none;

}


form{
    box-sizing: border-box;
    text-align: center;
   
}
#fill-form{

    padding: 0;
    color:rgb(48, 48, 68);
    text-align: center;
    margin-top: 150px;
    font-size: 25px;
    
}
#submit{
    width:60px;
    height: 30px;
    padding-left: 10px;
    color: white;
    background-color: rgb(165, 59, 59);
    display: inline-block;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    margin-top: 5px;
    letter-spacing: 1px;
    
    
}
footer{
    display: flex;
    flex-direction: row;
    background:rgb(165, 59, 59);
    height: 150px;
    width: 1350px;
    margin-top: 50px;
}
#footer-one{
    margin-left: 400px;
    color: white;
    padding-top: 50px;

}
#foot{
    color:rgb(48, 48, 68);
}
.multiselect {
    width: 200px;
  }
  
  .selectBox {
    position: relative;
  }
  
  .selectBox select {
    width: 100%;
    font-weight: bold;
  }
  
  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  #checkboxes {
    display: none;
    border: 1px #dadada solid;
    
  }

  #checkbox {
    display: none;
    border: 1px #dadada solid;
  }
  #checkboxes3 {
    display: none;
    border: 1px #dadada solid;
  }
  #checkboxes4 {
    display: none;
    border: 1px #dadada solid;
  }
  #checkboxes5 {
    display: none;
    border: 1px #dadada solid;
  }
  #checkboxes6 {
    display: none;
    border: 1px #dadada solid;
  }
  #checkboxes label {
    display: block;
  }

  #checkbox label {
    display: block;
  }
  #checkboxes3 label {
    display: block;
  }
  #checkboxes4 label {
    display: block;
  }
  #checkboxes5 label {
    display: block;
  }
  #checkboxes6 label {
    display: block;
  }
  
  #checkboxes label:hover {
    background-color: #1e90ff;
  }
  
  #checkbox label:hover {
    background-color: #1e90ff;
  }
  #checkboxes3 label:hover {
    background-color: #1e90ff;
  }
  #checkboxes4 label:hover {
    background-color: #1e90ff;
  }
  #checkboxes5 label:hover {
    background-color: #1e90ff;
  }
  #checkboxes6 label:hover {
    background-color: #1e90ff;
  }
  #general
  {
      margin-bottom: 3000px;
      
  }
  .row{
    width: 100px;
    text-align: center;
    /* padding: 100px; */
  }
  .container{
height: 300px;
margin-top: 200px;
  }
  
  
  
  

    





